[Unit]
Description=ProxySQL health check socket

[Socket]
ListenStream={{ item.health_check_port | default(proxysql_default_specific_health_check_port | default(9200)) }}
Accept=yes

[Install]
WantedBy=sockets.target
